# build #
#########
build

# user-defined cmake presets #
##############################
CMakeUserPresets.json

# Spack files #
###############
*.pyc

# OS files #
############
.DS_Store

# VSCode files #
################
.vscode
